apiVersion: machinelearning.seldon.io/v1
kind: SeldonDeployment
metadata:
  name: inference-service
spec:
  name: inference-service
  predictors:
  - graph:
      envSecretRefName: seldon-rclone-secret
      implementation: SKLEARN_SERVER
      modelUri: s3://anomaly-detection-2211110900
      name: inference-service
      parameters:
      - name: method
        type: STRING
        value: predict
      storageInitializerImage: seldonio/rclone-storage-initializer:1.12.0
    name: predictor
    replicas: 1
