apiVersion: serving.kserve.io/v1beta1
kind: InferenceService
metadata:
  annotations:
    serving.kserve.io/deploymentMode: ModelMesh
  name: anomaly-detection
spec:
  predictor:
    model:
      modelFormat: !!set
        sklearn: null
      storage:
        key: odf
        path: model-2211160618.joblib
